<section class="catalog">
    <h1 id="title"><span>Power of Nature</span></h1>
    <div class="item-list">
        {{#each all}}
            {{> disaster}}

            {{else}}
                <div class="no-event">
                    <p>There are no events found yet!</p>
                </div>
        {{/each}}
    </div> 
</section>