@media (width <= 600px) {
    div .home-container .home-navbar {
        width: 100%;
        height: 2em;
    }

    div .home-container .home-navbar header {
        display: none;
    }

    div.category-card-category-card {
        width: 100px;
        height: auto;
        display: flex;
        flex: 1 1 47.1%;
        justify-content: center;
    }

    .category-card-image {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }

    .home-full-width-banner.section-container {
        flex-direction: column;
        align-items: center;
    }

    .home-text29 {
        line-height: 2;
    }

    .home-text30 {
        width: 550px;
    }

    .home-btn.button {
        margin-bottom: 1.3em;
    }

    img.home-image6 {
        width: 100%;
    }

    .max-width-container {
        padding-left: 0; 
        padding-right: 0;
    }

    .home-container08 {
       justify-content: center;
    }

    .home-footer1 {
        margin-left: 3em;
    }

    .home-footer1, .home-links-container {
        flex-direction: column;
    }

    .home-container12 {
        margin-bottom: 3    em;
    }

    .home-container09 {
        order: 2;
    }

    .home-links-container {
        order: 0;
    }

}    