<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="header">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/catalog">Power of Nature</a></li>
                {{#if isSignedIn}}
                    <li><a href="/add">Create event</a></li>
                    <li><a href="/logout">Logout</a></li>

                    {{else}}
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
    <main>
        <!-- In case of error, you should display div with class "error-container" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
        {{#if error}}
            <div>
                <div class="errorContainer">
                    <p>{{error}}</p>
                </div>
            </div>
        {{/if}}

        {{{body}}}
    </main>
    <footer>
        <p>&copy; JS Back-End 2025</p>
    </footer>
</body>
</html>