.section-hero-banner {
    color: white;
    font-size: 0.925em;
}

.section-hero-banner a {
    color: white;
}

.section-hero-banner .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em 2em;
    height: 30em;
}

.section-hero-banner .container h2 {
    font-size: 4em;
    letter-spacing: 8px;
}

.section-hero-banner .container p {
    max-width: 54ch;
    text-align: center;
    margin: 20px;
}

.section-hero-banner .container a {
    background-color: red;
    text-decoration: none;
    padding: 0.5em 1.25em;
    border-radius: 7px;
}