.not-found-page-container {
    text-align: center;
}

.not-found-page-container p a {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

.not-found-page-container p a:hover {
    text-decoration: underline;
}

.not-found-page-container h1 {
    font-size: 200px;
    text-shadow: 5px 5px black;
}

.not-found-page-container h2 {
    font-size: 100px;
    text-shadow: 5px 5px black;
}

.not-found-page-container>p {
    margin-top: 2%;
    font-size: 20px;
}